body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  width: 100%;
  background-image: url("images/background-gradient.svg");
  background-size: cover;
  background-position: center;
  padding-left: 200px;
  padding-right: 200px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.content-biography {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content-biography {
    flex-direction: column; /* Cambia la disposizione in colonna */
  }
}

section#biography {
  text-align: left;
}

.logo {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

article {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.square-images {
  display: flex;
  justify-content: center;
}

.square-images a {
  margin: 0 10px;
}

.square-images img {
  width: 100%; /* Utilizza tutta la larghezza disponibile */
  max-width: 150px; /* Larghezza massima */
  height: auto; /* Altezza proporzionale */
}
