body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  width: 100%;
  background-image: url("images/background-gradient.svg");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
}

footer {
  text-align: center;
  font-size: small;
}

#content-biography {
  display: flex;
  flex-direction: row;
}

a {
  color: #000;
  text-decoration: none;
}

main {
  width: 980px;
}

section {
  flex: 1;
  text-align: left;
  margin-bottom: 20px;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}
