body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-image: url("images/background-gradient.svg");
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: small;
}

#content-biography {
  display: flex;
  flex-direction: row;
}

a {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.cluster {
  display: flex;
  flex-direction: column;
}

.box-for-two {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .box-for-two {
    flex-direction: column;
  }
}

.boxes {
  margin: 0 20px;
}

section {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}
